.MB{
    height: 150px;
    width: 42%;
    background-color: darkorange;
    
}
.TH{
    height: 150px;
    width: 42%;
    margin-left: 54%;
    margin-top: -45.5%;
    background-color: red;
}
.FT{
    height: 150px;
    width: 42%;
    background-color: green;
}
.BJ{
    height: 150px;
    width: 42%;
    margin-left: 54%;
    margin-top: -45.5%;
   background-color: indigo;
}
.ET{
    height: 150px;
    width: 42%;
    background-color: darkviolet;
}.ED{
    height: 150px;
    width: 42%;
    margin-left: 54%;
    margin-top: -45.5%;
   background-color: blue;
}
