
  <ion-app>
    <ion-header translucent>
      <ion-toolbar>
        <ion-title>choix kudo </ion-title>
      </ion-toolbar>
    </ion-header>,
    
    <ion-content fullscreen >
    <ion-card class="akt">
      <ion-card class="MB" (click)="doClick()">
        <ion-card-header>
          <ion-card-subtitle>merci beaucoup</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
      <ion-card class="TH" routerLink="/kudo"} >
            <ion-card-header>
              <ion-card-subtitle>Tres Heureux</ion-card-subtitle>
            </ion-card-header>
            <button (click) = "setReturn(parameter)">btn</button>
              setReturn(para) {this.attribute = para*2;}
          </ion-card>
          <ion-card class="FT" routerLink="/kudo">
                <ion-card-header>
                  <ion-card-subtitle>Felicitations</ion-card-subtitle>
                </ion-card-header>
          </ion-card>
          <ion-card class="BJ" routerLink="/kudo">
                <ion-card-header >
                  <ion-card-subtitle>Bien joue</ion-card-subtitle>
                </ion-card-header>
          </ion-card>
          <ion-card class="ET" routerLink="/kudo">
                <ion-card-header>
                  <ion-card-subtitle>Excellent Travail</ion-card-subtitle>
                </ion-card-header>
          </ion-card>
          <ion-card class="ED" routerLink="/kudo">
                <ion-card-header>
                  <ion-card-subtitle>Extraordinaire</ion-card-subtitle>
                </ion-card-header>
          </ion-card>
    </ion-card>
    </ion-content>
    
  </ion-app>
