<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/kuDImage.jpg" alt=""/>
    <ion-card-header>
      <ion-card-subtitle>Get Started</ion-card-subtitle>
      <ion-card-title>Bienvenue au KUDOWALL de la DSI</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Le management 3.0 apporte une notion que j’aime beaucoup qui est celle des KUDO WALL ou DJADIEUF WALL pour remercier ou féliciter ses collègues. Profitons ensemble pour se motiver et garder un bon rythme de croisière.
      </p>
    </ion-card-content>

    <ion-button expand="block" shape="round" color="success" routerLink="/login">Connexion</ion-button>
    <br>
    <ion-button expand="block" shape="round" routerLink="/inscription">Inscription</ion-button>
  </ion-card>

  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Resources</ion-label>
    </ion-list-header>
  </ion-list>
</ion-content>
